/* --------------------- */
/*         Reset         */
/* --------------------- */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 9.375em;
    line-height: 1em;
    margin-block: 1.5rem;
}

h2 {
    font-size: 6.25em;
}

h4 {
    font-size: 2em;
}

h5 {
    font: 400 1.75em "Barlow Condensed", sans-serif;
    letter-spacing: 4.75px;
    color: #d0d6f9;
}

p {
    font-family: "Barlow", sans-serif;
}

/* Body set up */
body {
    font: 400 16px/1.5 "Barlow Condensed", sans-serif;
    min-height: 100vh;
    background: #0b0d17;
    color: #ffffff;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

ol,
ul {
    list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
